:root{
  --size:200px;
  --fontweight: 200;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: var(--fontweight);
  font-style: normal;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: var(--fontweight);
  font-style: normal;
}
.science-gothic{
  font-family: "Science Gothic", sans-serif;
  font-weight: var(--fontweight);
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}
.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: var(--fontweight);
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline:2px dotted orange;
}
body{
  display:flex;
  flex-direction: column;
  height:100%;
  overflow-x:hidden;
  background: url(https://images.pexels.com/photos/3705687/pexels-photo-3705687.jpeg);
  background-size: cover;
  overflow-y: hidden;
}
header{
  height:calc(var(--size) * 0.5);
  width:100%;
  background: 
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)),
    url(Kockar_och_biker_2.jpg);
  background-position: center;
  display:grid;
  place-content: center;
  font-family: "Metal Mania", system-ui;
  font-weight: var(--fontweight);
  font-style: normal;
  font-size:calc(var(--size) * .5); 
  text-shadow: calc(var(--size)/100) 0 #000, calc(var(--size)/-100) 0 #000, 0 calc(var(--size)/100) #000, 0 calc(var(--size)/-100) #000;
  color: #fd8317;
}
nav{
  height:calc(var(--size)*0.2);
  background:#000;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:calc(var(--size) * 0.2);
  padding-left:calc(var(--size) * 0.2);
}
nav a{
  text-decoration:none;
  color:white;
  font-size:calc(var(--size) * 0.15);
  --background: #130f0f;
  font-family: "Volkhov", serif;
  font-weight: var(--fontweight);
  font-style: normal;
}
footer{
  height:calc(var(--size) * 0.1);
  width:100%;
  background: rgb(0, 0, 0);
  color: #676767;
  display: grid;
  place-content:center;
  bottom:0;
  left:0;
  position: fixed;
}
.info{
  display:flex;
  flex-direction: column;
  align-items: center;
  height:calc(var(--size) * 2.5);
  width:calc(var(--size) * 3);
  background: url(Kvadrat-rustik-papper.png);
  background-size: cover;
  border-radius:calc(var(--size) * .1);
  h2{
    font-size:calc(var(--size) * .3);
    font-family: "Volkhov", serif;
    font-weight: var(--fontweight);
    font-style: normal;
    margin-top:calc(var(--size)*.2);
  }
  p{
    font-size:calc(var(--size) * .1);
    font-family: "Volkhov", serif;
    font-weight: var(--fontweight);
    font-style: normal;
    text-align: center;
    margin-top: calc(var(--size) * .2);
    margin-left: calc(var(--size) * .2);
    margin-right: calc(var(--size) * .2);
  }
}

/*scrollar åt höger oavsett hur jag gör på touchpaden*//*Varför???*/
#container{
  --outline:2px dotted blue;
  position:relative;
  top:calc(var(--size) * .22);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left:calc(var(--size) * 0.8);
  padding-right:calc(var(--size) * 0.8);
  gap:calc(var(--size) * 0.8);
  overflow-x: scroll;
  padding-bottom:calc(var(--size) * 0.07);
  margin-bottom:calc(var(--size) * -0.1);
}
::-webkit-scrollbar{
  height: 12px;
  background: #65412f;
}
::-webkit-scrollbar-thumb{
  background: #764c25;
  border-radius: 6px;
}