:root{
  --size:200px;
  --fontweight: 400;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: var(--fontweight);
  font-style: normal;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: var(--fontweight);
  font-style: normal;
}
.science-gothic{
  font-family: "Science Gothic", sans-serif;
  font-weight: var(--fontweight);
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}
.volkhov-regular {
  font-family: "Volkhov", serif;
  font-weight: var(--fontweight);
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display:flex;
  flex-direction: column;
  height:100dvh;
  background: #000;
  overflow-x:hidden;
}
h1{
  height:calc(var(--size) * 0.5);
  width:100%;
  background: url(https://previews.123rf.com/images/munktcu/munktcu1302/munktcu130200048/17729066-old-rusted-steel-or-metal-plating-for-background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display:grid;
  place-content: center;
  font-family: "Metal Mania", system-ui;
  font-weight: var(--fontweight);
  font-style: normal;
  font-size:5rem;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000;
  color: #fd8317;
}
nav{
  height:calc(var(--size)*0.2);
  background: #000;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:2rem;
  margin-left:2rem;
}
nav a{
  text-decoration:none;
  color:white;
  font-size:2rem;
  --background: #130f0f;
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;
}
.main{ 
  flex-grow:5;
  background: white;
  overflow-y: hidden;
  overflow-x: hidden;
  display:flex;
  align-items:center;
}
footer{
  height:2rem;
  width:100%;
  background: black;
  color: #686767;
  display: grid;
  place-content:center;
}
div{
  display:flex;
  justify-content: center;
  height:calc(var(--size) * 2.5);
  width:calc(var(--size) * 3);
  background: gray;
  border-radius:1rem;
  font-size:5rem;
  font-family: "Science Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: url(https://images-bonnier.imgix.net/files/ill/production/2021/10/07155652/lava-varmt.jpg?auto=format,compress&crop=focalpoint&fp-x=0.5&fp-y=0.5&ar=1.4435695538057742:1&w=2048&q=80&fit=crop)
}
#container{
  border:2px dotted blue;
  position:relative;
  top:calc(var(--size) * .2);
  --left:calc(var(--size) * 0.4);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left:calc(var(--size) * 0.8);
  gap:calc(var(--size) * 0.8);
  overflow-x: scroll;
}
::-webkit-scrollbar{
  display: none;
}